@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

.num-wig.col{
    /* border: 2px solid red; */
    margin: 1%;
    background-color:   #46344E;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
    
}

.box-heading{
    font-size: 1.2rem;
    color: #F3E0DC;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.box-numbers{
    font-size: 2rem;
    color: yellow;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}