.text-wig.col{
    /* border: 2px solid red; */
    margin: 1%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;

    
}
.text-wig.col:hover{
    cursor: pointer;
}
.box-heading-text{
    font-size: 1.2rem;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-align: center;
}
/* .text-wig-wrap{
    height: 100%;
} */
.p-a-icons{
    color: white;
}
.p-a-icons:hover{
    color: black;
}